@charset "UTF-8";
/* 
リセットCSS（※ここはいじらなくてよいです※）
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Helvetica Neue", Arial, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0EDE4;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
【Layout】
役割: ページの主要な骨格（ヘッダー、フッター、メインコンテンツエリア、サイドバーなど）はこのレイアウトを指定します。
命名: クラス名頭に「l-」を付ける。 
例: .l-header, .l-footer, .l-main, .l-sidebar
*/
.l-header {
  /* ヘッダーのスタイル */
}

.l-main {
  /* メインコンテンツエリアのスタイル */
}

/* 
【Component】
役割: 再利用可能な最小単位の部品（ボタン、カード、フォーム部品など）。FLOCSSとBEMを組み合わせる際に、最もBEM命名規則が活用される層です。
命名: クラス名頭に「c-」を付ける。 
例: .c-button, .c-button__icon, .c-card, .c-card__title
*/
.c-button {
  display: flex;
  justify-content: center; /* 横方向の中央寄せ */
  align-items: center;
}
.c-button__text {
  display: inline-block; /* サイズを持てるようにする */
  margin: 100px auto;
  width: 280px;
  height: 51px;
  background: url(../img/workButton-01.png);
  background-size: cover;
}
.c-button__text:hover {
  display: inline-block; /* サイズを持てるようにする */
  margin: 100px auto;
  width: 280px;
  height: 51px;
  background: url(../img/workButton-02.png);
  background-size: cover;
}

/* 
【Project】
役割: 基本こればっか使います。特定のページやセクションに固有の単位を意味します、
命名: クラス名頭に「p-」を付ける。 
例: .p-top-area, .p-top-area__title, .p-about-section, .p-about-section__heading, .p-contact-form
*/
.p-header {
  width: 100%;
  height: 100px;
  color: #A16803;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  top: 0px;
  z-index: 1; /* ヘッダーを前面に表示 */
  border-bottom: 1px solid #A16803;
}
.p-header__logo {
  width: 135px;
}
.p-header__nav {
  margin: 0 0 0 auto;
  display: flex;
  gap: 48px;
}
.p-header__list {
  display: flex;
  gap: 48px;
}
.p-header__item {
  color: #A16803;
  font-size: 18px;
}
.p-header__item:hover {
  color: #503C14;
  font-weight: 600;
  text-decoration: underline;
}
.p-header__link {
  /* ナビゲーションリンクのスタイル */
}

.p-imgWrapper {
  /* 画像のスタイル */
}
.p-imgWrapper__img {
  /* 画像のスタイル */
  width: 80%;
  margin: 70px 0 70px auto;
}

.p-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.p-modal__img {
  /* モーダル内の画像のスタイル */
  margin: 70px 0;
}

.p-modalContent {
  position: relative;
  max-width: 80%;
  width: 100%;
  height: auto;
}
.p-modalContent__close {
  position: absolute;
  top: -30px;
  right: 0;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.p-slider {
  display: flex;
  overflow-x: auto; /* 横スクロールを許可 */
  scroll-snap-type: x mandatory; /* 横方向に強制的にスナップさせる */
  width: 100%;
  height: 292px;
}
.p-slider__item {
  flex: 0 0 20%;
  scroll-snap-align: start; /* スクロールが止まる位置を先頭に合わせる */
  width: 242px;
  height: 292px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 50px;
}

.p-footerNav {
  border-top: 1px solid #A16803;
  border-bottom: 1px solid #A16803;
}

.p-navList {
  display: flex;
  gap: 48px;
  justify-content: center;
  padding: 30px 0;
}
.p-navList__item {
  color: #A16803;
  font-size: 18px;
}
.p-navList__item:hover {
  color: #503C14;
  font-weight: 600;
  text-decoration: underline;
}

/* 
【Utility】
役割: 単一の役割を持つ汎用性の高いスタイルを定義して、HTML側で使い回します。
命名: HTMlのクラス名に指定して使う。 
*/
.u-font-weight-bold {
  font-weight: bold;
}

.u-font-size-10 {
  font-size: 12px;
}

.u-font-size-12 {
  font-size: 12px;
}

.u-font-size-14 {
  font-size: 14px;
}

.u-font-size-16 {
  font-size: 16px;
}

.u-font-size-18 {
  font-size: 18px;
}

.u-font-size-22 {
  font-size: 22px;
}

.u-font-size-24 {
  font-size: 24px;
}

.u-font-size-28 {
  font-size: 28px;
}

.u-font-size-32 {
  font-size: 32px;
}

.u-font-size-34 {
  font-size: 34px;
}

.u-font-size-36 {
  font-size: 36px;
}

.u-font-size-42 {
  font-size: 42px;
}

.u-font-size-46 {
  font-size: 46px;
}

.u-font-size-48 {
  font-size: 48px;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-d-block {
  display: block;
}

.u-d-inline {
  display: inline;
}

.u-d-inline-block {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */