/* ==========================================
   Layout（大きな枠組み）
   ========================================== */
.l-header {
  width: 100%;
  height: 100px;
  color: #0328a1; 
  display: flex;
  align-items: center;
  padding: 0 50px;
  position: sticky; /* top:0と一緒に使うと固定に便利 */
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #A16803;
  background-color: #F0EDE4; /* 背景色を指定 */
}

.l-main {
  width: 100%;
}

.l-footer {
  border-top: 1px solid #A16803;
  border-bottom: 1px solid #A16803;
}

/* ==========================================
   Project（特定のパーツ・ページ要素）
   ========================================== */

/* ヘッダーロゴ */
.p-header-logo {
  width: 135px;
}

/* ナビゲーション共通（BEMの基本形） */
.p-global-nav {
  margin-left: auto;
}
.p-global-nav__list {
  display: flex;
  gap: 48px;
}
.p-global-nav__item {
  font-size: 18px;
  color: #A16803;
}
.p-global-nav__link {
  transition: color 0.3s, font-weight 0.3s;
}
.p-global-nav__link:hover {
  color: #503C14;
  font-weight: 600;
  text-decoration: underline;
}

/* キービジュアル */
.p-key-visual {
  text-align: right;
  margin-top: 70px;
}
.p-key-visual__img {
  width: 80%;
}

/* プロフィールセクション */
.p-profile {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 70px auto;
}
.p-profile__image {
  width: 374px;
  height: 481px;
}
.p-profile__text-content {
  width: 650px;
}

/* ==========================================
   Component（使い回すボタンなど）
   ========================================== */

/* Workへ飛ぶボタン */
.c-button-work {
  display: block;
  margin: 100px auto;
  width: 280px;
  height: 51px;
  background: url(../img/workButton-01.png) no-repeat center/cover;
  transition: 0.3s;
}
.c-button-work:hover {
  background-image: url(../img/workButton-02.png);
}

/* 汎用ページボタン */
.c-button-page {
  display: inline-block;
  margin-top: 30px;
  width: 160px;
  height: 45px;
  background: url(../img/pageButton-01.png) no-repeat center/cover;
}