/* 
【Project】
役割: 基本こればっか使います。特定のページやセクションに固有の単位を意味します、
命名: クラス名頭に「p-」を付ける。 
例: .p-top-area, .p-top-area__title, .p-about-section, .p-about-section__heading, .p-contact-form
*/

// 実用例
.p-header {

    &__logo {
         width: 135px;
    }
}

.p-header__nav{
    margin: 0 0 0 auto;
}

.p-header__list{
    display: flex;
    gap:48px;
}

.p-header__item{
    color: #A16803;
    font-size: 18px;
    &__link {
        /* ナビゲーションリンクのスタイル */
    }
    &:hover{
    color: #503C14;
    font-weight: 600;
    text-decoration:underline;
  
}
}

.p-visual {
    text-align: right;
    margin-top: 70px;
   
}

.p-imgWrapper {
    /* 画像のスタイル */
    &__img {width: 80%;
        /* 画像のスタイル */
    }
}

.workLoop {
    margin-top: 70px;
}

.p-modal{
    &__img {
        /* モーダル内の画像のスタイル */
    }
}

.footerNav{
    border-top: 1px solid #A16803;
  border-bottom: 1px solid #A16803;

}

.navList{
    display: flex;
  gap: 48px;
  justify-content: center;
  padding: 30px 0;

    &__item {
        /* ナビゲーションリストアイテムのスタイル */
    }
}







