/* 
【Project】
役割: 基本こればっか使います。特定のページやセクションに固有の単位を意味します、
命名: クラス名頭に「p-」を付ける。 
例: .p-top-area, .p-top-area__title, .p-about-section, .p-about-section__heading, .p-contact-form
*/

// 実用例
.p-top {

    .p-title {
        // 適宜スタイル

        &__image {
            // 適宜スタイル

        }

        &__text {
            // 適宜スタイル

        }
    }
}